body{
    margin: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 1);
    animation-name: show;
    animation-duration: 40s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes show {
    0% {  
    background: rgba(0, 0, 0, 1);
    }
    33% {      
    background: rgb(42, 42, 82);
    }
    66% {
    background: rgb(33, 21, 78);
    }
    100% {  
    background: rgba(0, 0, 0, 1);
    }
}
div {
    position: absolute;
    margin-top: 1em;
    right: 3em;
}
#color {
    width: 6em;
    height: 2em;
    border: none;
    cursor: pointer;
}